@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Bold.ttf');
    font-weight: bold;
}

body {
    font-family: Vazir;
}